@using Microsoft.EntityFrameworkCore
@using BlazorServerApp.Services
@using BlazorServerApp.Data
@inject EmployeesService employeesService
@page "/employees"
<h3>Employees</h3>
<hr />
@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Department</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var emp in employees)
            {
                <tr>
                <td>@emp.Id</td>
                <td>@emp.FullName</td>
                <td>@emp.Department</td>
                <td>@emp.Salary</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    protected async Task Load()
    {
        employees = await employeesService.GetAllEmployeesAsync();
    }
}
